﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="withcompression.aspx.cs" Inherits="webcaching.withcompression" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Insert Amount of data to Load<asp:TextBox ID="txtamount" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Fetch" OnClick="getmore"/>
    </div>
    <div>
    <table width="100%">
    <asp:Repeater ID="rptMain" runat="server">
    <ItemTemplate>
    <tr>
    <td>
     ID:<asp:Label ID="Label5" runat="server" Text='<%#  Eval("id")  %>' ></asp:Label></td><td>
        Title:<asp:Label ID="Label2" runat="server" Text='<%#  Eval("title")  %>' ></asp:Label></td><td>
        <%--Content:<asp:Label ID="Label3" runat="server" Text='<%#  Eval("content")  %>' Visible="false"></asp:Label></td><td>--%>
        Category:<asp:Label ID="Label1" runat="server" Text='<%#  Eval("category")  %>' ></asp:Label></td><td>
        Time:<asp:Label ID="Label4" runat="server" Text='<%#  Eval("time")  %>'></asp:Label>MS</td>
        </tr>
    </ItemTemplate></asp:Repeater>
    
    </table >
    </div>
    </form>
</body>
</html>
